.contentContainer {
  max-width: 1120px;
  margin-top: 4.7rem;
  margin-bottom: 8rem;
  margin-left: 23.125rem;
  padding: 0;
  height: calc(100vh - 7rem);
  text-align: justify;
}

.postInfo {
  display: flex;
  align-items: center;
  gap: 2rem;
  font-size: 0.875rem;
}
