.banner {
  width: 100%;
  display: flex;
  justify-content: center;

  img {
    max-height: 25rem;
  }
}

.postHeader {
  margin-bottom: 4rem;

  h1 {
    font-size: 3rem;
    padding-bottom: 0.5rem;
  }

  .editInfo {
    font-size: 0.875rem;
  }
}

.postContent {
  article {
    & + article {
      margin-top: 2rem;
    }

    .postText {
      p {
        font-size: 1.125rem;
        margin: 1rem 0;
      }
    }
  }

  h2 {
    font-size: 2rem;
    margin-bottom: 3rem;
  }
}

.extraLine {
  height: 2rem;
}

.postsNavigation {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 5rem;

  p {
    font-size: 1rem;
    font-weight: 400;
    height: 1.5rem;
  }

  span {
    font-size: 1rem;
    font-weight: 600;
    color: var(--pink-500);
  }

  .previousPost {
    text-align: left;
    max-width: 40%;
  }

  .nextPost {
    text-align: right;
    max-width: 40%;
  }
}
