.headerContainer {
  height: 7rem;
}

.headerContent {
  width: 100vw;
  margin: 0;
  height: 7rem;
  display: flex;
  align-items: center;

  nav {
    display: flex;
    align-items: center;
    margin-left: 23.125rem;

    img {
      width: 238.62px;
      height: 25.63px;
    }
  }
}
